app-game-of-life {
    display: block;
    background-color: black;
    color: white;
    margin: 0px auto;
}

app-game-of-life input[type='number'] {
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    color: white;
}