<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">Angular Playground</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown>
        <a class="btn btn-light dropdown-toggle rounded-0" ngbDropdownToggle>
          A to I
        </a>

        <div ngbDropdownMenu class="rounded-0">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/brown/space-agency-home">Brown</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/daram">Daram</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/gray">Gray</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/hamilton">Hamilton</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/hoch">Hoch</a>
        </div>
      </li>
      <li ngbDropdown>
        <a class="btn btn-light dropdown-toggle rounded-0" ngbDropdownToggle>
          J to S
        </a>

        <div ngbDropdownMenu class="rounded-0">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/james">James</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/mamedbekov">Mamedbekov</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/patel">Patel</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/pinedo">Pinedo</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/saeed/super-cool">Saeed</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/stratton">Stratton</a>
        </div>
      </li>
      <li ngbDropdown>
        <a class="btn btn-light dropdown-toggle rounded-0" ngbDropdownToggle>
          T to Z
        </a>

        <div ngbDropdownMenu class="rounded-0">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/tran">Tran</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/viswamani">Viswamani</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/wu">Wu</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
