<nav class="navbar navbar-expand-lg navbar-light bg-light border-left border-right border-bottom">
  <a class="navbar-brand" routerLink="/brown/space-agency-home">Space Agencies, etc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">First</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">Second</a>
      </li>
    </ul>
  </div>
</nav>
